.body
  font-family: "Gill Sans",Helvetica,Arial,sans-serif

.brand
  &:hover
    color: #fff

  font-weight: bold !important
  text-shadow: none !important
  margin-top: 10px

.logo
  background: image-url('logo.png') no-repeat
  width: 18px
  height: 16px
  float: left
  margin-right: 2px

#spinner
  background: image-url('spinner.gif')
  width: 500px
  height: 500px
  margin: auto

.search-field
  height: 31px !important
  width: 400px
  line-height: 17.4px
  font-size: 14px